
/*para criar uma variavel eu uso o que esta acima $nome da variavel: o que vc quer aqui;*/
/*usando o &:hover eu diminuo mais*/
/*Com o SASS eu tenho a possibilidade de escrever um pouco mais compilado do o original no css "mais legivel e menos verboso" criando mais regras sem escrever tanto*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}
